include ../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" }) 
include layout/js-css.pug
include my_mixin/mix1.pug
doctype html
html
  head
    title="Специальные предложения"
    meta(name="viewport", content="width=device-width,initial-scale=1.0,  shrink-to-fit=no")
    link(type="image/ico", href='img/favicon.ico', rel='shortcut icon')
    link(rel="stylesheet" href="css/style_index.css")
  body
    .container-fluid.pb-lg-5#Menu(style="background-color:#008ece;")
      +navbar()
    h2.text-center.mt-4="Акции и спецпредложения"
    .container.d-flex.flex-column#promotions
      +promote('Отдых без сомнений',1,'Всего 10% оплаты за тур')
      +promote('ATLANTICA HOTELS & RESORTS',2,'Эксклюзивный отдых в Греции')
      +promote('Турция',3,'Скидки до 70%')
      +promote('Греция',4,'Скидки до 50%')
      +promote('Мальдивы',5,'Скидки до 50%')
      +promote('Кипр',6,'Скидки до 50%')
    +footer()
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")