.menu{
	display: flex;
	list-style: none;
	@include roww(20px);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;
	li{
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		text-align: center;
		padding: rem(20) rem(10);
	}
}